<div id='winLeaders'>
    <table class='win-leader-table'>
        <tr>
            <th colspan='9'>
                <h3>All Time Leader Board</h3>
            </th>
        </tr>
        <tr class='leader-header'>
            <td><b>Place</b>
            </td>
            <td><b>Holder</b>
            </td>
            <td><b>Wins</b>
            </td>
            <td><b>Losses</b>
            </td>
            <td><b>Ties</b>
            </td>
            <td><b>Win %</b>
            </td>
            <td><b>Titles</b>
            </td>
            <td><b>Sackos</b>
            </td>
            <td><b>Playoff App.</b>
            </td>
        </tr>
        <tr class='acunaRow' title='The Threshold to Measure How Good Your Team Truly is.'>
            <td colspan='9' class='acuna'><b>The Acuna Line<b></td>
      </tr>
      <tr class='row'>
         <td class='place'>1. </td>
         <td>DeAndre Hopkins</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>2. </td>
         <td>Rob Gronkowski</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>3. </td>
         <td>Adrian Peterson</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>4. </td>
         <td>Allen Robinson</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>5. </td>
         <td>Demaryius Thomas</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>6. </td>
         <td>Lesean McCoy</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>7. </td>
         <td>Cam Newton</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>8. </td>
         <td>Tom Brady</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>9. </td>
         <td>Aaron Rodgers</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
      <tr class='row'>
         <td class='place'>10. </td>
         <td>LeVeon Bell</td>
         <td>0</td>
         <td>0</td>
         <td>0</td>
         <td>0%</td>
         <td></td>
         <td></td>
         <td>0</td>
      </tr>
   </table>
</div>
<style>
    #winLeaders {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .win-leader-table {
        width: 100%;
        border: 0px solid black;
        font-size: 12px;
        position: relative;
        text-align: center;
    }
    .win-leader-table th {
        width: 500px;
        background-color: #1D7225;
        color: white;
    }
    .place {
        width: 40px;
        padding-left: 5px;
        padding-top: 5px
    }
    .row:nth-child(odd) {
        background-color: #F2F2E8;
    }
    .row:nth-child(even) {
        background-color: #F8F8F2;
    }
    .leader-header {
        background-color: #6DBB75;
    }
    .acunaRow {
        background-color: #e35e52;
    }
    .acuna {
        font-size: 7px;
        line-height: 7px;
        color: white;
    }
</style>
