<div id='powerRanking'>
   <table>
      <tr>
         <th colspan='5'>
            <h3>2016 Power Ranking: Preseason</h3>
         </th>
      </tr>
      <tr>
         <td class='center'><b>Rank</b></td>
         <td colspan='2' class='center'><b>Team / Record</b></td>
         <td class='center'><b>Trending</b></td>
         <td class='center'><b>Comments</b></td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>1</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13994.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=7&seasonId=2016'>Superman</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 8th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>2</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/8439.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=9&seasonId=2016'>ARod</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 6th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>3</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/12514.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=6&seasonId=2016'>Shady</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 7th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>4</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/15795.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=1&seasonId=2016'>Nuk</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 9th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>5</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/10452.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=3&seasonId=2016'>AP</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 5th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>6</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/15825.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=10&seasonId=2016'>LeVeon</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 3rd</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>7</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/2330.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=8&seasonId=2016'>Brady</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 1st</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>8</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13229.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=2&seasonId=2016'>Gronk</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 2nd</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>9</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/13216.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=5&seasonId=2016'>DT</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 10th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>10</div>
         </td>
         <td class='teamPicture'><img src='http://a.espncdn.com/combiner/i?img=/i/headshots/nfl/players/full/16799.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=0000000&teamId=4&seasonId=2016'>ARob</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 4th</div>
         </td>
         <td class='center'>Team description Goes here</td>
      </tr>
   </table>
</div>

<style>
    #powerRanking {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        border-radius: 3px;
    }
    #powerRanking table {
        border: 0px solid black;
        font-size: 12px;
        width: 100%;
        border-collapse: collapse;
    }
    #powerRanking table tr {
        background-color: #F8F8F2;
    }
    #powerRanking table tr:nth-child(odd) {
        background-color: #F2F2E8;
    }
    #powerRanking table tr:nth-child(2) {
        background-color: #6DBB75;
    }
    #powerRanking table tr:first-child {
        width: 500px;
        background-color: #1D7225;
        color: white;
        text-align: center;
    }
    th {
        border-radius: 3px 3px 0px 0px;
    }
    tr.rank {
        height: 60px;
        vertical-align: middle;
    }
    tr.rank td:first-child {
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        width: 10%;
    }
    .ranking {
        border-radius: 50px;
        color: white;
        padding: 0px;
        margin: auto;
    }
    tr.rank:nth-child(3) .ranking {
        background: #1D7225;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    tr.rank:nth-child(4) .ranking {
        background: #1D7225;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    tr.rank:nth-child(5) .ranking {
        background: #1D7225;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    tr.rank:nth-child(6) .ranking {
        background: #1D7225;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    tr.rank:nth-child(7) .ranking {
        background: #1D7225;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    tr.rank:nth-child(8) .ranking {
        background: firebrick;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    tr.rank:nth-child(9) .ranking {
        background: firebrick;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    tr.rank:nth-child(10) .ranking {
        background: firebrick;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    tr.rank:nth-child(11) .ranking {
        background: firebrick;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    tr.rank:nth-child(12) .ranking {
        background: firebrick;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    tr.rank td:nth-child(2) {
        width: 10%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(3) {
        width: 10%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(4) {
        width: 15%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(5) {
        width: 55%;
        vertical-align: middle;
        font-size: 10px;
    }
    .teamPicture img {
        position: relative;
        left: 7px;
        height: 55px;
        vertical-align: middle;
    }
    .team-name {
        font-size: 14px;
    }
    .team-name a {
        text-decoration: none !important;
        color: #225DB7 !important;
    }
    .team-record {
        color: #888;
    }
    .up {
        border-bottom: 8px solid green;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        width: 0px;
        position: relative;
        left: 17px;
        top: 6px;
    }
    .down {
        border-top: 8px solid red;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        width: 0px;
        position: relative;
        top: 7px;
        left: 17px;
    }
    .no-change {
        border-top: 8px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    .delta {
        width: 20px;
        position: relative;
        font-size: 17px;
        line-height: 20px;
        top: -9px;
        left: 26px;
    }
    .delta-up {
        color: green;
    }
    .delta-down {
        color: red;
    }
    .last-weeks-position {
        color: #888;
        font-size: 10px;
        top: -5px;
        position: relative;
    }
    .center {
        text-align: center;
    }
</style>
