<div id='recordBook'>
    <table>
        <tr>
            <th colspan='3' class='header'>
                <h3>League Record Book</h3>
            </th>
        </tr>
        <tr>
            <td class='column1'><b>Category</b>
            </td>
            <td class='column2'><b>Record</b>
            </td>
            <td class='column3'><b>Holder</b>
            </td>
        </tr>
        <tr>
            <td class='recordType odd'>Most Points (Game) </td>
            <td class='center odd'>0</td>
            <td class='center odd' title='N/A - Week N/A'>N/A</td>
        </tr>
        <tr>
            <td class='recordType even'>Most Points (Season) </td>
            <td class='center even'>0</td>
            <td class='center even'>N/A - N/A</td>
        </tr>
        <tr>
            <td class='recordType odd'>Most Points (Matchup) </td>
            <td class='center odd'>0</td>
            <td class='center odd' title='N/A - Week N/A'>N/A (0) vs. N/A (0)</td>
        </tr>
        <tr>
            <td class='recordType even'>Fewest Points (G) </td>
            <td class='center even'>0</td>
            <td class='center even' title='N/A - Week N/A'>N/A</td>
        </tr>
        <tr>
            <td class='recordType odd'>Fewest Points (S) </td>
            <td class='center odd'>0</td>
            <td class='center odd'>N/A - N/A</td>
        </tr>
        <tr>
            <td class='recordType even'>Fewest Points (M) </td>
            <td class='center even'>0</td>
            <td class='center even' title='N/A - Week N/A'>N/A (0) vs. N/A (0)</td>
        </tr>
        <tr>
            <td class='recordType odd'>Most Points Allowed (S) </td>
            <td class='center even'>0</td>
            <td class='center even'>N/A - N/A</td>
        </tr>
        <tr>
            <td class='recordType even'>Fewest Points Allowed (S) </td>
            <td class='center even'>0</td>
            <td class='center even'>N/A - N/A</td>
        </tr>
        <tr>
            <td class='recordType odd'>Longest Win Streak </td>
            <td class='center odd'>0</td>
            <td class='center odd' title=''></td>
        </tr>
        <tr>
            <td class='recordType even'>Longest Losing Streak </td>
            <td class='center even'>0</td>
            <td class='center even' title=''></td>
        </tr>
        <tr>
            <td class='recordType odd'>Most Points-Player (G) </td>
            <td class='center odd'>0</td>
            <td class='center odd' title='N/A - Week N/A; Owner: N/A'>N/A</td>
        </tr>
        <tr>
            <td class='recordType even'>Most Points-Player (S) </td>
            <td class='center even'>0</td>
            <td class='center even'>N/A - N/A</td>
        </tr>
    </table>
</div>
<style>
    .header {
        width: 500px;
        background-color: #1D7225;
        color: white;
        text-align: center;
        border-radius: 3px 3px 0px 0px;
    }
    .column1 {
        width: 250px;
        padding-left: 5px;
        background-color: #6DBB75;
        text-align: left;
    }
    .column2 {
        background-color: #6DBB75;
        text-align: center;
        width: 75px
    }
    .column3 {
        background-color: #6DBB75;
        text-align: center;
        padding-left: 5px
    }
    .odd {
        background-color: #F2F2E8;
    }
    .even {
        background-color: #F8F8F2;
    }
    .center {
        text-align: center;
    }
    .recordType {
        width: 250px;
        padding-left: 5px;
        padding-top: 5px;
    }
    #recordBook {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    #recordBook table {
        border: 0px solid black;
        font-size: 12px;
        width: 100%;
    }
</style>
