<div id='powerRanking'>
   <table>
      <tr>
         <th colspan='5'>
            <h3>2016 Power Ranking: Preseason</h3>
         </th>
      </tr>
      <tr>
         <td class='center'><b>Rank</b></td>
         <td colspan='2' class='center'><b>Team / Record</b></td>
         <td class='center'><b>Trending</b></td>
         <td class='center'><b>Comments</b></td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>1</div>
         </td>
         <td class='teamPicture'><img src='http://imgur.com/wlt7yB5.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=11&seasonId=2016'>Joanna</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: N/A</div>
         </td>
         <td class='center'>Newcomer Joanna had a very impressive draft that got off to a great start when she picked up Doug Martin in the expansion portion for $9. An overall solid roster, the only question mark comes in the form of 2nd year player Clive Walford, but reports are Clive is looking like a star.</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>2</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/eYagIPT.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=1&seasonId=2016'>Joshua</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 1st</div>
         </td>
         <td class='center'>Coming off his first fantasy championship, Joshua put together a solid roster. Returning to the team for another go at a ring are David Johnson, Allen Robinson, Thomas Rawls, Demaryius Thomas, Travis Kelce, and the Broncos D/ST. If the end of the year success continues, this team could be a massive force all year.</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>3</div>
         </td>
         <td class='teamPicture'><img src='http://imgur.com/DsfhfKZ.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=5&seasonId=2016'>Stephen</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 2nd</div>
         </td>
         <td class='center'>3 monster keepers have this team looking very top heavy. But when you have 3 of the consensus top 10 picks on your roster in a 12 team league, holes like Theo Riddick dont seem so gaping.</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>4</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/VtCbAom.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=10&seasonId=2016'>Max</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 10th</div>
         </td>
         <td class='center'>The Redskins fan is all in on the Cowboys this year. And with them being led by rookie QB Dak Prescott in the early stages of the season, this could get ugly fast. But you cannot deny the talent this roster has stocked. Time will tell if talent outweighs a bad situation.</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>5</div>
         </td>
         <td class='teamPicture'><img src='http://imgur.com/naLx55r.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=3&seasonId=2016'>Chris J</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 4th</div>
         </td>
         <td class='center'>Coming in hot with the all injured and suspended All Pro team. The names are huge, the talent is there; but can they stop smoking weed and breaking legs long enough for Chris to make another championship run?</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>6</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/xqGPUlU.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=2&seasonId=2016'>Chris L</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 8th</div>
         </td>
         <td class='center'>With arguably the best keeper in the draft in Todd Gurley, Livia got a headstart on a solid roster, but relying on the atrocious Colts offense could prove fatal. Ancient Frank Gore as an RB2 may work if the Colts can get to the redzone, but that will require the O-line to give Luck a second to throw.</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>7</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/1mTjA5F.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=7&seasonId=2016'>Brandon</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 6th</div>
         </td>
         <td class='center'>Once again afraid to spend early in the draft has this team looking really solidly mediocre. If Foster can return to his old form and Julio Jones stays on the field all year, Brandon could see another playoff birth in his future</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>8</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/PCy4RBV.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=4&seasonId=2016'>Larry</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 7th</div>
         </td>
         <td class='center'>With some eyebrow raising keeper selections at the draft, Larry managed to put together a formidable squad with some massive spending early in the draft. If Eddie Lacy returns to his slimmer self and Lamar Miller gets the space to shine in Houston, this team could cause some upsets all year</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>9</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/sSkASof.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=8&seasonId=2016'>Kevin</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 9th</div>
         </td>
         <td class='center'>The draft definitly didnt go Kevin's way as he watched eveyone spend spend spend as he waited out the mayhem only to realize there were no running backs left. But with the overwhelming favorite for top scorer (AB) on his roster once again, Kevin should be able to avoid the Sacko</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>10</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/Ds18BdI.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=9&seasonId=2016'>Adrienne</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 5th</div>
         </td>
         <td class='center'>The no running back draft strategy may work out for Adrienne if a waiver wire player appears in the first few weeks, but if Leveon comes back and DeAngelo Williams sits before that happens, there arent many options for a plan B</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>11</div>
         </td>
         <td class='teamPicture'><img src='http://i.imgur.com/GtyP5.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=6&seasonId=2016'>Chandos</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: 3rd</div>
         </td>
         <td class='center'>It doesnt fucking matter how poorly Chandos drafts, he'll still fucking win...</td>
      </tr>
      <tr class='rank'>
         <td>
            <div class='ranking'>12</div>
         </td>
         <td class='teamPicture'><img src='http://imgur.com/xInPE1g.png'></img></td>
         <td>
            <div class='team-name'><a href='http://games.espn.com/ffl/clubhouse?leagueId=1032115&teamId=12&seasonId=2016'>Mike</a></div>
            <div class='team-record'>0-0</div>
         </td>
         <td class='center'>
            <div>
               <div class='no-change'></div>
               <div class='delta '>--</div>
            </div>
            <div class='last-weeks-position'>Last Year: N/A</div>
         </td>
         <td class='center'>The lack of a star on this roster makes it fail the eye test. Once Brady comes back in week 5, this could look like a very different picture</td>
      </tr>
   </table>
</div>
<style>
    #powerRanking {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid white;
        border-radius: 3px;
    }
    #powerRanking table {
        border: 0px solid black;
        font-size: 12px;
        width: 100%;
        border-collapse: collapse;
    }
    #powerRanking table tr {
        background-color: #F8F8F2;
    }
    #powerRanking table tr:nth-child(odd) {
        background-color: #F2F2E8;
    }
    #powerRanking table tr:nth-child(2) {
        background-color: #6DBB75;
    }
    #powerRanking table tr:first-child {
        width: 500px;
        background-color: #1D7225;
        color: white;
        text-align: center;
    }
    th {
        border-radius: 3px 3px 0px 0px;
    }
    tr.rank {
        height: 60px;
        vertical-align: middle;
    }
    tr.rank td:first-child {
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        width: 10%;
    }
    .ranking {
        border-radius: 50px;
        color: white;
        padding: 0px;
        margin: auto;
    }
    tr.rank:nth-child(3) .ranking {
        background: #1D7225;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    tr.rank:nth-child(4) .ranking {
        background: #1D7225;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    tr.rank:nth-child(5) .ranking {
        background: #1D7225;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    tr.rank:nth-child(6) .ranking {
        background: #1D7225;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    tr.rank:nth-child(7) .ranking {
        background: #1D7225;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    tr.rank:nth-child(8) .ranking {
        background: #1D7225;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    tr.rank:nth-child(9) .ranking {
        background: firebrick;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    tr.rank:nth-child(10) .ranking {
        background: firebrick;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    tr.rank:nth-child(11) .ranking {
        background: firebrick;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    tr.rank:nth-child(12) .ranking {
        background: firebrick;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    tr.rank:nth-child(13) .ranking {
        background: firebrick;
        width: 45px;
        height: 45px;
        line-height: 45px;
    }
    tr.rank:nth-child(14) .ranking {
        background: firebrick;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    tr.rank td:nth-child(2) {
        width: 10%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(3) {
        width: 10%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(4) {
        width: 15%;
        vertical-align: middle;
    }
    tr.rank td:nth-child(5) {
        width: 55%;
        vertical-align: middle;
        font-size: 10px;
    }
    .teamPicture img {
        position: relative;
        left: 7px;
        height: 55px;
        vertical-align: middle;
    }
    .team-name {
        font-size: 14px;
    }
    .team-name a {
        text-decoration: none !important;
        color: #225DB7 !important;
    }
    .team-record {
        color: #888;
    }
    .up {
        border-bottom: 8px solid green;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        width: 0px;
        position: relative;
        left: 17px;
        top: 6px;
    }
    .down {
        border-top: 8px solid red;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        width: 0px;
        position: relative;
        top: 7px;
        left: 17px;
    }
    .no-change {
        border-top: 8px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    .delta {
        width: 20px;
        position: relative;
        font-size: 17px;
        line-height: 20px;
        top: -9px;
        left: 26px;
    }
    .delta-up {
        color: green;
    }
    .delta-down {
        color: red;
    }
    .last-weeks-position {
        color: #888;
        font-size: 10px;
        top: -5px;
        position: relative;
    }
    .center {
        text-align: center;
    }
</style>
